"fileTypes": [
    'feature'
]
"name": 'Gherkin'
"patterns": [
    {
        "match": '\\s*(Scenario\\:|Scenario\\s+Outline\\:|Scenario\\s+Template\\:|Feature\\:|Business\\s+Need\\:|Ability\\:|Scenario\\s+Outline\\:|Background\\:|Examples\\:|Scenarios\\:|Formalisation\\:|Szenario\\:|Funktionalität\\:|Szenariogrundriss\\:|Grundlage\\:|Beispiele\\:|Formalisierung\\:)'
        "name": 'keyword.gherkin'
    }
    {
        "match": '\\s*(Given\\s+|Then\\s+|When\\s+|And\\s+|But\\s+|Angenommen\\s+|Gegeben\\s+sei\\s+|Gegeben\\s+seien\\s+|Dann\\s+|Wenn\\s+|Und\\s+|Aber\\s+)'
        "name": 'variable.class.gherkin'
    }
    {
        "match": '(?<=\\s|^)(@[A-Za-z0-9_\\-]+)'
        "name": 'entity.name.function.decorator.gherkin'
    }
    {
        "match": '#(.*)$'
        "name": 'comment.line.gherkin'
    }
    {
        "match": '(\\<\\w+\\>)'
        "name": 'constant.character.escape.feature'
    }
    {
        "match": "(\\'.*?[^\\']\\')"
        "name": 'string.single.qoute.gherkin'
    }
    {
        "match": '(\\".*?[^\\"]\\")'
        "name": 'string.double.qoute.gherkin'
    }
    {
        "match": '(\\[[^]]*\\])'
        "name": 'constant.numeric.gherkin'
    }
    {
        "match": '\\|\\s(.*)\\s\\|'
        "name": 'constant.character.escape.feature'
    }
]
'scopeName': 'source.feature'
